* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/background.webp");
  background-size: cover;
  font-family: Noto Sans, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 10px;
  min-height: 100vh;
}

.main-content {
  width: 80%;
  margin: auto auto 100px auto;
}

.main-form {
  color: #222;
  font-size: 18px;
  width: 70%;
  margin: auto;
}

button {
  margin-right: 5px;
}
.submit-btn {
  margin-top: 1rem;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 10px;
}
.successMsg {
  color: #0f0;
  background: #077707;
  padding: 10px;
}
.centered-message {
  width: 500px;
  margin: auto;
}
.message {
  color: #0e1b1e;
  font-size: 25px;
  margin-left: 10px;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
  header .links a {
    font-size: 1.2rem;
  }
  header .links .link:link,
  header .links .link:visited {
    margin: unset;
  }
  .main-form {
    width: 100%;
  }
}
